<ion-view view-title="Viagens da Galera" hide-nav-bar="true">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="list" ng-if="vm.travelsList">
      <div class="item item-divider">
        Ranking - Geral
      </div>
      <a ng-repeat="travel in vm.travelsList" href="#/travelInfo?id={{ travel.id }}" class="item item-thumbnail-left">
        <img ng-src="{{ travel.image }}">
        <h2>{{ ::travel.destination }}</h2>
        <h4>{{ ::travel.date }}</h4>
        <span class="badge badge-assertive">{{ travel.rank }}</span>
        </br>
        <p ui-sref="travellerInfo({id: travel.traveller.id})">
          <span> Viajante: {{ ::travel.traveller.firstName + ' ' + travel.traveller.lastName }}</span>
        </p>
      </a>
    </div>
    <div ng-if="!vm.travelsList">
      Não há Viagens cadastradas.
    </div>
  </ion-content>
</ion-view>
