<ion-view view-title="Viagens da Galera" hide-nav-bar="true">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="list">
      <div class="item item-divider text-center">
        Ranking - Geral
      </div>
      <div class="row sort-data" ng-if="vm.infiniteScroll.travels">
        <label class="item-input item-select col-60">
           Ordenar por:
         <select ng-init="vm.infiniteScroll.order = 'rank'" ng-model="vm.infiniteScroll.order">
           <option value="destination">Destino</option>
           <option value="date">Data</option>
           <option value="rank">Rank</option>
         </select>
        </label>
        <div class="sort-data col-40">
          <ion-toggle ng-init="vm.infiniteScroll.reverse = true" ng-model="vm.infiniteScroll.reverse" toggle-class="toggle-dark">Asc:</ion-toggle>
        </div>
     </div>
      <a ng-if="vm.infiniteScroll.travels" ng-repeat="travel in vm.infiniteScroll.travels | orderBy: vm.infiniteScroll.order:vm.infiniteScroll.reverse" href="#/travelInfo?id={{ travel.id }}" class="item item-thumbnail-left">
        <img ng-src="{{ travel.image }}">
        <h2>{{ ::travel.destination }}</h2>
        <h4>{{ ::travel.date }}</h4>
        <span class="badge badge-assertive">{{ travel.rank }}</span>
        </br>
        <p ui-sref="travellerInfo({id: travel.traveller.id})">
          <span> Viajante: {{ ::travel.traveller.firstName + ' ' + travel.traveller.lastName }}</span>
        </p>
      </a>
			<div ng-if="!vm.infiniteScroll.travels" class="item item-body text-center">
				Não conseguimos encontrar viagens no momento. </br> :(
			</div>
    </div>
		<tb-infinite-scroll user-id="vm.userId" rest-service="TravelsListRestService" set-data-callback="vm.setTravelsCallback(data)"></tb-infinite-scroll>
  </ion-content>
</ion-view>
