<ion-view view-title="Página Inicial">
  <ion-content overflow-scroll="true" padding="true" class="has-header">

    <div class="list card">
      <div class="item text-center item-divider">
        Cadastrar nova viagem
      </div>
      <div class="item item-body">
        <p>
          <form name="vm.saveTravelForm" ng-submit="loginAuth(saveTravelForm, travel)">
            <div class="item item-icon-left">
              <i class="icon ion-plane"></i>
              <input type="text" name="destination" placeholder="Digite o destino" ng-model="vm.travel.destination" required>
            </div>

            <div name="startDate" class="item item-icon-left" ion-datetime-picker date ng-model="vm.travel.startDate" required>
              <i class="icon ion-ios-calendar"></i> Data de Ida:
              <strong>{{ vm.travel.startDate | date: "dd-MM-yyyy" }}</strong>
            </div>
            <div name="endDate" class="item item-icon-left" ion-datetime-picker date monday-first ng-model="vm.travel.endDate" required>
              <i class="icon ion-ios-calendar-outline"></i> Data de Volta:
              <strong>{{ vm.travel.endDate | date: "dd-MM-yyyy" }}</strong>
            </div>


            <div ng-if="vm.saveTravelForm.$valid && !vm.saveTravelForm.$pristine">
              <ion-slide-box class="item item-stacked-label" show-pager="false" style="padding-bottom: 0;">
                <ion-slide ng-repeat="days in vm.travel.days" class="item no-padding" style="border: 0">
                  <div class="list card">
                    <div class="item text-center item-divider">
                      {{ days | date: 'fullDate' }}
                    </div>
                    <div class="item item-body">
                      <textarea name="name" rows="8" placeholder="Digite aqui os comentários de seu dia." style="width: 100%"></textarea>
                    </div>
                  </div>
                </ion-slide>
              </ion-slide-box>
              <div class="item item-divider row photos-icons text-center">
                <div class="col col-50" ng-click="vm.takePicture();"><i class="icon ion-camera"></i></div>
                <div class="col col-50" ng-click="vm.importPicture();"><i class="icon ion-images"></i></div>
              </div>
              <div ng-if="vm.travel.imgs" class="row" style="display: block">
                <div ng-repeat="image in vm.travel.imgs" class="col col-20" style="margin: 10px 0 0 0; display: inline-block;">
                  <img ng-src="{{ image }}">
                </div>
              </div>
            </div>
          </form>
        </p>
        <p>
          <button class="button button-full button-sundown">Salvar</button>
        </p>
      </div>
    </div>
    <infinite-scroll url="showTravelsByDate"></infinite-scroll>
  </ion-content>
</ion-view>
