<ion-view hide-nav-bar="true" ng-controller="LoginCtrl" hide-back-button="true" class="ui-air-balloons login-page">
	<ion-content class="padding" scroll="false" overflow-scroll="true">
    	<h2 class="text-center">Smart Tur</h2>
		
		<!-- TODO FORM -->
		<form name="login-form" novalidate>
			<div class="login-access-box opacity-black-box">
				<div class="list">
					<label class="item item-input item-floating-label">
						<span class="input-label">Usu&aacute;rio</span>
						<input type="text" placeholder="Usu&aacute;rio" ng-model="user.username">
					</label>
			  		<label class="item item-input item-floating-label">
				    	<span class="input-label">Senha</span>
				    	<input type="password" placeholder="Senha" ng-model="user.password">
			  		</label>
		  		</div>
		  		<div class="row col col-90 content-center">
		  			<button class="button button-full button-sundown" ng-click="loginAuth(user)">Log In</button>
		  		</div>
		  		</div>
	  	</form>
	  
  		<div class="row login-enroll-box">
  			<div class="col col-75 login-enroll-content opacity-black-box">
				<span>N&atilde;o tem cadastro? Cadastre-se j&aacute;!</span>
   				<div class="row">
  					<div class="col col-50">
  						<span ng-click=go('signUp')>Cadastre-se</span>
  					</div>
  					<div class="col col-50">
  						<span ng-click="fbAuth()">Login via Facebook</span>
  					</div>
				</div>
			</div>
 		</div>
 		
		<ion-footer-bar class="hide-on-keyboard-open opacity-black-box">
  			<div class="col col-75 content-center text-center">
				<span>Esqueceu sua senha?</span>
			</div>
 		</ion-footer-bar>
	</ion-content>
</ion-view>