<ion-view view-title="Minhas Viagens" hide-nav-bar="true">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="list">
      <div class="item item-divider text-center">
        Ranking - Suas Viagens
      </div>
      <a ng-if="vm.myTravelsList" ng-repeat="travel in vm.infiniteScroll.travels" href="#/travelInfo?id={{ travel.id }}" class="item item-thumbnail-left">
        <img ng-src="{{ ::travel.image }}">
        <h2>{{ ::travel.destination }}</h2>
        <h4>{{ ::travel.date }}</h4>
        <span class="badge badge-assertive">{{ travel.rank }}</span>
      </a>
			<div ng-if="!vm.myTravelsList" class="item item-body text-center">
				Não conseguimos encontrar viagens no momento. </br> :(
			</div>
    </div>
		<tb-infinite-scroll user-id="vm.userId" rest-service="TravelsListRestService" set-data-callback="vm.setTravelsCallback(data)"></tb-infinite-scroll>
  </ion-content>
</ion-view>
