<ion-view title="Opções" id="page7">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div class="button-bar">
                <a ui-sref="telaInicial" id="opEs-button25" class="button button-positive  button-block">Início</a>
                <a ui-sref="viagens" id="opEs-button26" class="button button-positive  button-block">Viagens</a>
                <a ui-sref="ranking" id="opEs-button27" class="button button-positive  button-block">Ranking</a>
            </div>
            <h4 id="opEs-heading8" style="color:#000000;">Digite os dados que deseja alterar</h4>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button id="opEs-button15" class="button button-positive button-small button-block">Salvar</button>
            <button id="opEs-button28" class="button button-positive button-small button-block">Cancelar</button>
        </form>
    </ion-content>
</ion-view>