<ion-view view-title="Opções">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="list">

      <div class="item item-avatar">
        <img src="{{_this.user.picture}}">
        <h2>{{_this.user.firstName}}  {{_this.user.lastName}}</h2>
        <p>{{_this.user.bornDate}}</p>
      </div>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-email"></i> Email
        <span class="item-note">
        {{_this.user.email}}
      </span>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-locked"></i> Trocar Senha
        <i class="icon"><p>**********</p></i>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-trash-b"></i> Excluir Conta
      </a>

      <a class="item item-icon-left" ng-click="_this.logout()">
        <i class="icon ion-power"></i> Logout
      </a>
    </div>
  </ion-content>
</ion-view>
