<ion-view>
  <ion-content>
    <ion-footer-bar align-title="left" class="bar-assertive">
      <div class="tabs-striped tabs-color-assertive">
        <div class="tabs">
          <a class="tab-item active" ui-sref="ranking.myTravelsRank">
            <i class="icon ion-home"></i> Test
          </a>
          <a class="tab-item" ui-sref="ranking.allTravelsRank">
            <i class="icon ion-gear-a"></i> Settings
          </a>
        </div>
      </div>
    </ion-footer-bar>
  </ion-content>
</ion-view>
