<ion-view ng-controller="SignUpCtrl" view-title="SignUp">
	<ion-content class="padding">	
		<error-templates></error-templates>
		<form name="signUpForm" ng-submit="signUp(signUpForm, user)" novalidate> 
	      <div class="list">
		      <div class="row no-padding">
		      	<div class="col-50">
				  <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : signUpForm.firstName.$invalid && signUpForm.$submitted}">
				    <span class="input-label">Nome</span>
				    <input type="text" name="firstName" placeholder="John" ng-model="user.firstName" ng-minlength="5" required>
				  </label>
				  <display-message form="signUpForm" attribute="firstName" display="nome"></display-message>
			  	</div>
			  	<div class="col-50">
				  <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : signUpForm.lastName.$invalid && signUpForm.$submitted}">
				    <span class="input-label">Sobrenome</span>
				    <input type="text" name="lastName" placeholder="Suhr" ng-model="user.lastName" required>
				  </label>
				  <display-message form="signUpForm" attribute="lastName" display="sobrenome"></display-message>
			  	</div>
			  </div>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">E-mail</span>
			    <input type="text" name="email" placeholder="john@suhr.com" ng-model="user.email" required>
			  </label>
			  <display-message form="signUpForm" attribute="email" display="e-mail"></display-message>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Usuário</span>
			    <input type="text" name="username" placeholder="john@suhr.com" ng-model="user.username" required>
			  </label>
			  <display-message form="signUpForm" attribute="username" display="usuário"></display-message>
			  <div class="row no-padding">
				  <div class="col-50">
			  		  <label class="item item-input item-stacked-label">
					    <span class="input-label">Senha</span>
					    <input type="password" placeholder="john@suhr.com" ng-model="user.password" required>
					  </label>
				  </div>
				  <div class="col-50">
					  <label class="item item-input item-stacked-label">
					    <span class="input-label">Confirme sua senha</span>
					    <input type="password" placeholder="john@suhr.com" ng-model="user.confirmPassword" required>
					  </label>
				  </div>
			  </div>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Dica de senha</span>
			    <input type="text" placeholder="john@suhr.com" ng-model="user.passwordHint">
			  </label>
			  <ion-list>
				  <div class="row no-padding">
				  		<div class="col-50">
						  	<ion-radio name="gender" ng-model="choice" ng-value="'M'" ng-required="true">Masculino</ion-radio>
					  	</div>
					  	<div class="col-50">
						  	<ion-radio name="gender" ng-model="choice" ng-value="'F'" ng-required="true">Feminino</ion-radio>
					  	</div>
				  </div>
				  <display-message form="signUpForm" attribute="gender" display="sexo"></display-message>
			  </ion-list>
	  		  <label class="item item-input item-stacked-label">
			    <span class="input-label">Data de Nascimento</span>
	  			<input type="date" name="bornDate" ng-model="user.bornDate" required>
			  </label>
			  <display-message form="signUpForm" attribute="bornDate" display="data de nascimento"></display-message>
			  <button class="button button-full button-sundown no-padding" type="submit">Cadastrar</button>
		  </div>
	  	</form>
	</ion-content>
</ion-view>