<ion-tabs class="tabs-messages tabs-light tabs-top tabs-icon-top has-tabs-top">

  <ion-tab title="Minhas Viagens" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/tab/ranking/myTravelsRank">
    <ion-nav-view name="ranking-myTravelsRank"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Viagens da Galera" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" href="#/tab/ranking/allTravelsRank">
    <ion-nav-view name="ranking-allTravelsRank"></ion-nav-view>
  </ion-tab>

</ion-tabs>
