<ion-view hide-back-button="true">

  <ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="Página Inicial" icon-off="icon ion-home" icon-on="icon ion-home" href="#/tab/homePage">
      <ion-nav-view name="tab-homePage"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Ranking" icon-off="icon ion-star" icon-on="icon ion-star" href="#/tab/ranking">
      <ion-nav-view name="tab-ranking"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Opções" icon-off="icon ion-gear-a" icon-on="icon ion-gear-a" href="#/tab/options">
      <ion-nav-view name="tab-options"></ion-nav-view>
    </ion-tab>
  </ion-tabs>

</ion-view>
