<ion-view>

  <ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="Página Inicial" icon-off="icon ion-home" icon-on="icon ion-home" ui-sref="tab.homePage">
      <ion-nav-view name="tab-homePage"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Ranking" icon-off="icon ion-earth" icon-on="icon ion-earth" ui-sref="tab.ranking">
      <ion-nav-view name="tab-ranking"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Opções" icon-off="icon ion-gear-a" icon-on="icon ion-gear-a" ui-sref="tab.options">
      <ion-nav-view name="tab-options"></ion-nav-view>
    </ion-tab>
  </ion-tabs>

</ion-view>
