<ion-view cache-view="false" view-title="Informações da Viagem">
	<ion-content class="padding">
        <div style="text-align:center;">
            <img src="img/yaA3N4alR42PJiLEIfSn_Viagem 1.jpg" width="60%" height="auto">
        </div>
        <form class="list"></form>
        <h5 id="guaruj-heading7" style="color:#000000;text-align:center;">Anotações</h5>
        <form class="list">
            <label class="item item-input">
                <input type="date" placeholder="">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Digite seus comentários">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Local / evento que deseja comentar">
            </label>
            <label class="item item-input">
                <input type="number" placeholder="Nota para o local ou evento">
            </label>
        </form>
        <ion-list></ion-list>
        <ion-list></ion-list>
        <h5 id="guaruj-heading4" style="color:#000000;text-align:center;">Galeria de fotos</h5>
        <div style="text-align:center;">
            <img src="img/PZ2Hkxa1Tt2hK5VSakEJ_Carrossel.jpg" width="100%" height="auto">
        </div>
        <h5 id="guaruj-heading5" style="color:#000000;text-align:center;">Vídeos</h5>
    </ion-content>
</ion-view>
