<ion-view view-title="Informações da Viagem">
	<ion-content overflow-scroll="true" class="has-header">
		<div class="list card">
			<div class="item item-divider text-center">
				<span>{{ ::vm.travelInfo.destination }}</span>
			</div>
			<div class="">
				<img ng-if="!vm.travelInfo.photos.length" ng-src="img/no_travel_photo_500x300.jpg" class="full-width">
				<ion-slide-box ng-if="vm.travelInfo.photos.length" class="item item-stacked-label no-padding no-margin" show-pager="false">
					<ion-slide ng-repeat="photo in vm.travelInfo.photos" class="no-padding no-border">
						<img ng-src="data:image/jpeg;base64,{{ photo.resource }}" class="full-width">
					</ion-slide>
				</ion-slide-box>
			</div>
		</div>
		<div class="text-center padding">
			<ionic-ratings ng-if="vm.travelInfo.rank" ratingsobj="vm.setRankCallback"></ionic-ratings>
			<div class="row no-border">
				<div class="item item-icon-left col-50 border-right content-center">
					<i class="icon ion-ios-calendar"></i>{{ vm.travelInfo.startDate | date:'dd/MM/yyyy' }}
				</div>
				<div class="item item-icon-left col-50 border-left content-center">
					<i class="icon ion-ios-calendar-outline"></i>{{ vm.travelInfo.endDate | date:'dd/MM/yyyy' }}
				</div>
			</div>
			<ion-slide-box ng-if="vm.travelInfo.comments.length" class="item item-stacked-label no-padding no-border" show-pager="true">
				<ion-slide ng-repeat="comments in vm.travelInfo.comments" class="item no-padding no-border">
					<div class="list card custom-margin-bottom">
						<div class="item text-center item-divider">
							{{ comments.date | date: 'fullDate' }}
						</div>
						<div class="item item-body">
							<textarea ng-if="comments.comment" ng-model="comments.comment" rows="8" readonly class="full-width read-only"></textarea>
							<textarea ng-if="!comments.comment" ng-init="default = 'Não há comentários para este dia.'" ng-model="default" rows="8" readonly class="italic full-width read-only"></textarea>
						</div>
					</div>
				</ion-slide>
			</ion-slide-box>
			<div ng-if="!vm.travelInfo.comments.length" class="item item-body text-center">
				Não há comentários para esta viagem. </br> :(
			</div>
		</div>
	</ion-content>
</ion-view>
