<ion-view title="Viagens" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <a ui-sref="telaInicial" id="viagens-button14" class="button button-positive  button-block">Início</a>
            <a ui-sref="ranking" id="viagens-button16" class="button button-positive  button-block">Ranking</a>
            <a ui-sref="opEs" id="viagens-button17" class="button button-positive  button-block">Opções</a>
        </div>
        <h4 id="viagens-heading3" style="color:#000000;font-weight:400;text-align:center;">Selecione para mais deltalhes</h4>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="guaruj">
                <img src="img/p9UnjUTARqu6RkA5sqQu_Viagem 1.jpg">
                <h2>Guarujá</h2>
                <p>01/02/1987</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/IqgNzTI1R4Sfwk8lhNnN_Viagem 2.jpg">
                <h2>Bertioga</h2>
                <p>10/09/1999</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/ejnR0RwTMSoUJ3qlb1IQ_Viagem 3.jpg">
                <h2>Disney</h2>
                <p>16/06/2002</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/kJaMGDIvQFigRTb9vgjh_Viagem 4.jpg">
                <h2>Egito</h2>
                <p>10/12/2010</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>