/** Styling for the username field **/
label.item.has-error {  
  border-bottom: 1px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {  
  border-left: 1px solid red;
  border-right: 1px solid red;
}

label.item.has-error-l {  
  border-left: 1px solid red;
}

label.item.has-error-r {  
  border-right: 1px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {  
  border-left: 1px solid green;
  border-right: 1px solid green;
}

label.item.valid-l {  
  border-left: 1px solid green;
}

label.item.valid-r {  
  border-right: 1px solid green;
}

/** Styling for the error text and container **/
.form-error {
  padding: 2px 0 2px 16px;
  margin: 5px 0;
  display: block;
  color: red;
}