/*
 *COLORS USED IN APP (MULTIPLE CONTENTS).
 * - WHITE: #FFF;
 * - ORANGE: rgba(255, 134, 27, 0.96);
 *
 *
 */

/* LOGIN SCREEN */
@media screen and (min-device-height: 568px) {

}

@media screen and (min-device-width: 600px) {

	.ui-air-balloons {
    	background-image: url("../img/login/air balloons_3800x2400.jpg");
    	-webkit-background-size: cover;
 		-moz-background-size: cover;
		-o-background-size: cover;
  		background-size: cover;
	}
}
