/*
 *COLORS USED IN APP (MULTIPLE CONTENTS).
 * - WHITE: #FFF;
 * - ORANGE: rgba(255, 134, 27, 0.96);
 *
 *
 */

/* LOGIN SCREEN */
@media screen and (max-device-height: 568px) {

}

@media screen and (min-device-width: 1281px) {
	.ui-air-balloons {
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
	}
}