/*
 * (MOTO X : 355 x 568)
 *
 *COLORS USED IN APP (MULTIPLE CONTENTS).
 * - WHITE: #FFF;
 * - ORANGE: rgba(255, 134, 27, 0.96);
 *
 *
 */

/* --- GENERAL UTILITY --- */

.text-center {
  text-align: center;
}
.content-center {
  margin: 0 auto !important;
}
.no-padding {
  padding: 0 !important;
}

/* ---------------------- */

/* -- Bars, Tabs -- */

.bar-sundown, .tab-nav.tabs {
  background-color: rgba(255, 134, 27, 0.96) !important;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(167, 86, 17, 0.92)) !important;
  border-bottom-width: 0px;
  background: transparent;
      height: 50px;
}

.tab-item, .title.header-item, .ion-ios-arrow-back, .back-button {
  color: rgba(255, 255, 255, 0.70) !important;
}

.tab-item.tab-item.activated, .tab-item.tab-item-active  {
  color: #FFF !important;
  border-color: #FFF !important;
}


/* ---------------------- */


/* -- BUTTONS -- */

.button-sundown {
  background-color: rgba(255, 134, 27, 0.96) !important;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(167, 86, 17, 0.92)) !important;
  border-bottom-width: 0px;
  color: #FFF;
}

/* ------------- */


/* LOGIN SCREEN */

.login-page h2, .login-page span {
  color: #FFF;
}
.ui-air-balloons {
  background-image: url("../img/login/air balloons_1600x2400.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: cover;
  min-width: 355px;
  min-height: 568px;
}
.opacity-black-box {
  background-color: rgba(0, 0, 0, 0.6);
}
.login-access-box {
  top: 2em;
  padding: 2%;
  margin-bottom: 5px;
}
.login-access-box .input-label {
  color: #B2B2B2;
  font-weight: 400;
}
.login-access-box input {
  color: rgba(255, 134, 27, 0.96);
  font-size: 18px
}
.login-enroll-box {
  margin-top: 5%;
}
.login-enroll-content {
  margin: 0 auto;
  text-align: center;
}

/* ------------- */

/* HOME PAGE SCREEN */

.photos-icons i {
  font-size: 30px;
}


/* INFINITE SCROLL */
.sort-data > div {
  border: none;
  border-left: 1px solid rgb(221, 221, 221);
}
